* {
    margin: 0;
    border: 0;
    padding: 0;
}

div#gamespace>canvas {
    width: 100%;
    max-width: 100vh;
    max-height: 81.4vh;
}

div#gamespace>canvas#hero {
    position: absolute;
    top: 0;
    left: 0;
}

div#table>img {
    position: absolute;
    top: 81.4vh;
    left: 0;
    width: 100%;
    max-width: 100vh;
}