* {
    margin: 0;
    border: 0;
    padding: 0;
}

html,body {
    overscroll-behavior-y: contain;
    background-color: #5D5650;
}

div.page {
    max-height: 100vh;
}

canvas {
  image-rendering: pixelated;
}

div>canvas.main {
    width: 100vw;
    height: 100vw;
    max-width: 100vh;
    max-height: 80vh;
    position: fixed;
    top: 0;
    left: 0;
}

div>canvas.table {
    width: 100vw;
    max-width: 100vh;
    max-height: 20vh;
    position: fixed;
    top: 80vh;
    left: 0;
}